<div class="content-wrapper">
  {%include 'subpublic/chat_header.html'%}
  


<!-- 레이아웃 요소 위치 -->
<section class="content">





<div class="container-fluid">
  <div class="column">
    <section class="col-lg-7 connectedSortable">
      <div class="card direct-chat direct-chat-primary">
        <div class="card-header">
          <h3 class="card-title" id='card_title'>토론방</h3>
          <div class="card-tools">
            <span title="Current_user" class="badge badge-primary"></span>
            <button type="button" class="btn btn-tool" title="Join" data-widget="chat-pane-toggle">
              <i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
        </div>

        <div class="card-body">


<!--------------- 소켓으로 메시지 수신 후 출력할 공간 -------------->
          <div style='max-width:100%;margin:auto;align-items:center;'class="direct-chat-messages" id='chatbox'>
          
          
          
          </div>
      </div>
        <div class="card-footer">
          <form action="#" method="post", id='msg_form'>
            <div class="input-group">
              <input type="text" name="message" placeholder="메시지를 입력하세요." class="form-control">
              <input type='hidden'/>
              <span class="input-group-append">
                <button type="button" id='send_btn' class="btn btn-primary">전송</button>
              </span>
            </div>
          </form>
        </div>
      </div>

    </section>
  </div>
</div>
</section>





{% include 'script/chat.html' %}
<!-- subpages/chat.html이 끝나는 부분 -->
</div>