<div class="content-wrapper">
  {%include 'subpublic/index_header.html'%}
  
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
  
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      {%for col in result[0].keys()%}
                      <th style='text-align: center;'>{{col}}</th>
                      {%endfor%}
                    </tr>
                    </thead>
                    <tbody>
                      {%for col in result%}
                    <tr>
                      {%for val in col.values()%}
                      <td style='text-align: center;'>{{val}}</td>
                      {%endfor%}
                    </tr>
                    {%endfor%}
                  </table>
                </div>
            </div>
          </div>
        </div>
      </section>
  </div>
  