<div class="content-wrapper">
{%include 'subpublic/news_header.html'%}

  <section class="content">
    <div class="container-fluid">            
        <div class="row">
            <div class="col-lg-12 col-6">
                <div>
                    <fieldset>
                        <form>
                            <select name='sector'>
                              <option value="none">=== 섹터 ===</option>
                              <option value="elec">전기</option>
                              <option value="stock">주식</option>
                              <option value="bond">채권</option>
                            </select>
                        </form>
                        <ul id='results'>
                        </ul>
                    </fieldset>

                </div>
                <table style='border:0.5px solid,solid;width:100%;overflow-x:auto'>
                    <thead>
                        <tr>
                            <th style='width:5%;text-align: center;'>순서</th>
                            <th style='width:50%;text-align: center;'>뉴스 제목</th>
                        </tr>
                    </thead>    
                    <tbody id='news_body'>
                        {% for news in result %}
                          <tr>
                            <td style='text-align: center;'>
                              {{(((pageNo-1)*10)+result.index(news))}}
                            </td>
                            <td>
                              <a href="{{news['href']}}">
                              {{news['title']}}
                              </a>
                            </td>
                          </tr>
                        {% endfor %}                            
                    </tbody>
                </table>
            </div>
        </div>



        
        <div style='margin:auto;'class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-center">
            <li class="page-item"><a class="page-link" href=''>«</a></li>
            {%for i in range(0,10) %}
            <li class="page-item"><a id='page_btn'class="page-link"href=''>{{i+1}}</a></li>
            {%endfor%}
            <li class="page-item"><a class="page-link" href=''>»</a></li>
          </ul>
        </div>
        <script>
          $('#page_btn').on('click',()=>{
            var pageNo=$(this).text
            console.log('ddd')
            $.ajax(
              url:"{{url_for('news')}}",
              data:{'pageNo':pageNo},
              dataType:'json',
              success: function(data){
                console.log(data)
                })
              })
        </script>
    </div>
</section>
</div>
