<!DOCTYPE html>
<html lang="en">
<head>
  <title>YaNeoDoo - 파이썬 미니프로젝트 2조</title>
  {%include "public/head.html" %}
  {%include "public/lib.html" %}

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

{% include 'public/nav.html' %}

 {%include 'public/menu.html' %}


 {%include 'subpages/youtube.html' %}
  

  {%include "public/footer.html" %}
  <!-- Control Sidebar -->
  {%include 'public/aside.html' %}
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

</body>
</html>
